*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.LV-women{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(191, 63, 187, 0.27),rgba(191, 63, 187, 0.27)),url(images/1681469.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 120px;
}
.nav-links{
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #FFDFFA;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #F7B0EC;
    display: block;
    margin: auto;
    transition: 0.7s;
}
.nav-links ul li:hover::after{
    width: 100%
}
.text-box{
    width: 80%;
    color: #41BEF8;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#photo{
    width: 35%;
    position: absolute;
    top: 110%;
    left: 30%;  
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 1 40px;
    font-size: 15px;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
}
/*---more---*/
.more{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    color: #EE62FF;
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #EE62FF;
    font-size: 15px;
    font-weight: 350;
    line-height: 22px;
    padding: 10px;
}
/*---row---*/
.row{
    width: auto;
    margin: auto;
    padding-top: 100px;
    
}
.aaa{
    color: #fff;
}
.aa{
    color: #fff;
}
/*---comment---*/
.comment{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(191, 63, 187, 0.27),rgba(191, 63, 187, 0.27)),url(images/1681469.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text1-box{
    width: 90%;
    color: #EAFEFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text1-box h1{
    font-size: 62px;
}
.text1-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #EAFEFF;
        
}
.comment-btn{
    display: inline-block;
    text-decoration: none;
    color: #EAFEFF;
    border: 1px solid #99BFBE;
    padding: 12px 34px;
    font-size: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.comment-btn:hover{
    border: 1px solid #8EFFE2;
    background: #B0FFFE;
    transition: 1.5s;
}







